<h2> Accountdaten bearbeiten </h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "Login-Name" %><br />
  <%= f.text_field :username, :autofocus => true %></div>

  <div><%= f.label 'eMail-Adresse' %><br />
  <%= f.email_field :email %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><%= f.label 'Passwort' %> <i>(leer lassen, falls es nicht geändert werden soll)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label 'Passwort (Bestätigung)' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label 'Aktuelles Passwort' %> <i>(wird benötigt, um Änderungen zu speichern)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Aktualisieren" %></div>
<% end %>

<h3>Account löschen</h3>

<p>Nicht zufrieden mit BookWriter? <%= button_to "Account löschen", registration_path(resource_name), :data => { :confirm => "Sind Sie sicher?" }, :method => :delete %>.</p>

<%= link_to "Zurück", :back %>
