<%= form_for(@book) do |f| %>
    <% if @book.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

          <ul>
            <% @book.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label 'Titel' %>
      <br/>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label 'Auflage' %>
      <br/>
      <%= f.text_field :edition %>
    </div>
    <div class="field">
      <%= f.label 'Veröffentlichungsdatum' %>
      <br/>
      <%= f.date_select :published %>
    </div>
    <div class="field">
      <%= f.label 'Genre' %>
      <br/>
      <%= f.text_field :genre %>
    </div>
    <div class="field">
      <%= f.label 'Zusammenfassung' %>
      <br/>
      <%= f.text_area :abstract %>
    </div>
    <div class="field">
      <%= f.label 'Tags' %>
      <br/>
      <%= f.text_field :tags %>
    </div>
    <div class="field">
      <%= f.label 'Autoren' %>
      <br/>
      <% @users.each do |user| %>
          <div>
            <%= check_box_tag "book[user_ids][]", user.id, @book.users.include?(user) %>
            <%= user.email %>
          </div>
      <% end %>
    </div>
    <div class="actions">
      <%= f.submit 'Speichern' %>
    </div>
<% end %>
